
 @import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

p, h1,h4, h6, strong, a, button{
  font-family: 'Libre Franklin', sans-serif;
  
}  


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}

  .colorGeral{
    background-color: #00BFFF;
  }

  .margeBot{
    
    padding-bottom: 70px;
  }

  .jumbotron{
 
    padding-right: 40px;
    padding-left: 40px;


  }

  .backgroundJumbo{

    background-image: url("../src/img/frente.jpg");
    background-position: center;
  }

 
  .line1{
   width: 210px;
   
  }
  .line2{
    width: 75px;
    
   }
   .line3{
    width: 80px;
    
   }
   .line4{
    width: 80px;
    
   }

   .margeCorpo{
    padding-top: 30px;

   }
  
  .pHead{
   font-size: 20px;
  }
        
 .pBody{
  font-size: 20px;
 }
        
        
  .pFoot{
  font-size: 8px;
  }
     
  .colorLine{
    background-color: #00BFFF!important;
    
  }

  h1{
    font-size: 60px
  }
  .margeCorpo p{
    font-size:18px;
  }